*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
   background-color: dimgray;
}

.quiz{
   background-color: white;
   width: 90%;
   margin: 100px auto 0;
   padding: 30px;
   border-radius: 10px;
}

.quiz h1{
   padding: 30px;
   border-bottom: 1px solid black;
   font-weight: 600;
}

.quiz h2{
   padding: 20px;
   font-weight: 500;
}

.btn{
   background-color: white;
   width: 100%;
   color: black;
   font-weight: 500;
   padding: 10px;
   text-align: left;
   margin-bottom: 10px;
   cursor: pointer;
   border: 1px solid black;
   transition: all 0.3s;
}

.btn:hover:not([disabled]){
   background-color: #222;
   color: white;
}

.btn:disabled{
   cursor: no-drop;
}

#next-btn{
   background-color: dimgray;
   color: white;
   font-weight: 500;
   width: 150px;
   border: 0;
   padding: 10px;
   margin: 20px auto 0;
   border-radius: 4px;
   cursor: pointer;
   display: none;
}

.correct{
   background: #9aeabc;
}

.incorrect{
   background: #ff9393;
}